.social .fb-reach-engagement-legend:first-child {
	float:left;width:30%;text-align:left;padding-left:10px;
}
.social .fb-reach-engagement-legend {
	margin-right:25px;color:#06577a;
}
.social .fb-reach-engagement-legend > span {
	width:12px;height:12px;display:inline-block;margin-right:5px;
}
.social .header {padding-left:0;}
	