#landing-pg-website  .content-wrapper {width:700px;}
#web-stat {height:250px;margin-bottom:25px;}
#visits-by-search-engine {
	width:340px;float:left;border-right:1px solid #ccc;
	padding-right:10px;height:215px;
}
#total-visits-vs-new-visits {width:340px;float:left;height:233px;}
#visits-by-search-engine, #total-visits-vs-new-visits {
	margin-top:5px;margin-bottom:20px;
}
.stat-wrapper { 
	width:154px;float:left;border-right:1px solid #ccc;
	margin-bottom:33px;padding-left:20px;
}
.stat-wrapper span {color:#06577a;display:block;}
.stat-wrapper span:first-child {font-size:14px;}
.stat-wrapper span:nth-child(2) {font-size:27px;font-weight:bold;}
.no-border {border:none;}
#top-referring-site, #visits-by-location {
	width:340px;float:left;
}
#top-referring-site {margin-right:20px;}
#top-referring-site tr td:nth-child(2), 
	#visits-by-location tr td:nth-child(2) {text-align:center;}
#top-referring-site tr:nth-child(odd), 
	#visits-by-location tr:nth-child(odd) {background:#f2f2f2;} 
#visits-by-location {margin-right:0;}
#content-by-pageviews tr:nth-child(even) {background:#f2f2f2;}

.sesame-edit-wrapper { 
	width:475px;height:auto;margin-left:auto;margin-right:auto; 
	margin-bottom:20px;
}
.sesame-edit-wrapper img {width:100%;}

#top-referring-site tr td:nth-child(2), 
	#visits-by-location tr td:nth-child(2) {padding-right:20px;text-align:right;}
#content-by-pageviews tr th:first-child {width:350px;}
#content-by-pageviews {clear:both;margin-top:40px;margin-bottom:40px;}