#fb-likes-over-time {height:250px;margin-bottom:30px;}
#fb-activity-over-time {height:280px;margin-bottom:30px;}
#blog-page-views-over-time {height:250px;margin-bottom:30px;}
#yt-video-views-over-time {height:250px;margin-bottom:30px;}