.healthgrades .banner-col:first-child {width:349px;}
	.healthgrades .banner-col:first-child + .banner-col {width:349px;}
	.aggregate-rating {text-align:center;margin-bottom:30px;margin-top:30px;}
	#no-of-response {font-size:22px;font-weight:bold;margin-top:10px;}
	#recent-reviews {margin:10px;border-collapse:collapse;}
	#recent-reviews tr:nth-child(even) {background:#f2f2f2;}
	#recent-reviews tr td {
		width:160px;font-size:12px;color:#06577a;padding-bottom:5px;padding-top:3px;
		/*border:1px solid orange;*/
	}
	#recent-reviews tr td:first-child {padding-left:5px;}
	#recent-reviews tr td:first-child+td {
		width:116px;/*border:1px solid orange;*/
	}
	#recent-reviews tr td:first-child+td+td {width:60px;/*border:1px solid orange;*/}
	
	.sm-stars, .lg-stars {width:100%;height:100%;z-index: 10;position:absolute;top:0;left:0;}
	.lg-rating-wrapper, .sm-rating-wrapper{
		border:1px solid #ccc;border-radius:5px;
	}
	.back {
		background:#e7ed64;width:100%;height:100%;border-radius:8px;
		/*padding-right:2px;*/
	}
	.lg-rating-wrapper {width:100px;margin-left:auto;margin-right:auto;padding:1px;}
	.lg-rating {width:95px;height:30px;position:relative;padding-left:2px;}
	.lg-stars {background: url("../img/star-frame.png");}
	.lg-rating:after {
		position:absolute;font-size:18px;bottom:0;right:8%;
		margin-bottom:-0.95em;display:block;
		color:#ccc;z-index:3;
		content: url("../img/rating-arrow.png");
	}
	.sm-rating {width: 55px;height: 17px;position:relative;}
	.sm-stars {background: url("../img/star-frame-sm.png");}
	.sm-rating-wrapper {margin-right:4px;}
	.sm-rating:after {
		position:absolute;font-size:10px;bottom:-5px;right:8%;
		margin-bottom:0;display:block;
		color:#ccc;z-index:3;
		content:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAOCAYAAAAi2ky3AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gkKFhEIw+QhCgAAATpJREFUKM/d0sFKw0AQBuB/Q3oNvfQldts8hYgKvfoevoAX38EnET34CIJ4aW4eCqVbSwipJN1km5nx0oS20Frw5hyX2W//GRb431UUhfrL/TRNVQes1+trZn4mojyKorOA1WrV32w2N4PB4CVsD+fzeU9EEARB/zeImTGbzVAUBZhZAKCDoihC0zSoquokUpYlrLXw3r8R0UUcx9+TyUSFu00ichQgIsmyTGVZBiK6N8Y8AECSJEprLeE5u6iqSpbLpSrL8ouZr4bD4ccWgdZ6f7Rjlee5pGmqvPdPxphxCwCA1rrrC04h1losFgtV1/WdMWacJIlqgV1kL5GIQG1/Q13XsNbCOfdJRLej0ei93cWxR7tESimICJxzmE6ncM49eu/jc5C9RGEY9ogIzIymaS6NMa+HCz1VP60Fu8uQfEgtAAAAAElFTkSuQmCC);
	}
	